.container {
  position: relative;
  height: 400px;
  background: var(--shade-2);
}

.alignment {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  width: calc(min(var(--max-page-width), 100vw));
}
