:root {
  --red-900: #ab0000;
  --red-800: #b93119;
  --red-700: #c64e31;
  --red-600: #d36748;
  --red-500: #de7f60;
  --red-400: #e89678;
  --red-300: #f1ae92;
  --red-200: #f8c5ab;
  --red-100: #ffddc6;

  --green-900: #004e00;
  --green-800: #1a620e;
  --green-700: #2f771d;
  --green-600: #428c2c;
  --green-500: #56a23a;
  --green-400: #6ab849;
  --green-300: #7ed058;
  --green-200: #92e768;
  --green-100: #a6ff77;

  --blue-900: #001572;
  --blue-800: #212f83;
  --blue-700: #344894;
  --blue-600: #4362a6;
  --blue-500: #517db7;
  --blue-400: #5e98c9;
  --blue-300: #69b5db;
  --blue-200: #74d2ed;
  --blue-100: #7ff0ff;

}