:root {
  /* https://mycolor.space/?hex=%23DD0E24&sub=1 */
  --shade-1: #c8061b;
  --shade-2: #ff9b83;
  --shade-3: #aba3eb;
  --shade-4: #f3eed9;
}

/* Light */
:root,
.light {
  --shade-1: #dd0e24;
  --shade-2: #bc8279;
  --shade-3: #fff6f4;
  --shade-4: #798897;
}

/* Dark */
@media (prefers-color-scheme: dark) {
  :root,
  .dark {
    --shade-1: #dd0e24;
    --shade-2: #bc8279;
    --shade-3: #fff6f4;
    --shade-4: #798897;
  }
}
