.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffe6d8;
  z-index: -1;

  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(320px, var(--max-page-width)) minmax(
      16px,
      1fr
    );
}

.overlay {
  grid-column: 2;
  margin: -16px;
  background: color-mix(in srgb, var(--background) 90%, black);
  box-shadow: 0 0 24px #0005;
}
